* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #161722;
}

body .todo-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 520px;
  text-align: center;
  margin: 128px auto;
  padding-bottom: 32px;
}

body .todo-app h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 0px 7px 5px #000000;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

body .todo-app h1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-shadow: 0px 15px 7px #000000;
}

body .todo-app .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  margin-left: 10px;
}

body .todo-app .icons .edit-icon {
  margin-right: 10px;
}

body .todo-app .icons .edit-icon:hover {
  -webkit-filter: invert(84%) sepia(29%) saturate(5978%) hue-rotate(4deg) brightness(109%) contrast(104%);
          filter: invert(84%) sepia(29%) saturate(5978%) hue-rotate(4deg) brightness(109%) contrast(104%);
}

body .todo-app .icons .delete-icon:hover {
  -webkit-filter: invert(19%) sepia(100%) saturate(7069%) hue-rotate(1deg) brightness(108%) contrast(117%);
          filter: invert(19%) sepia(100%) saturate(7069%) hue-rotate(1deg) brightness(108%) contrast(117%);
}

body .todo-form {
  margin: 0 auto;
  margin-bottom: 32px;
  -webkit-box-shadow: 0px 15px 15px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 15px 1px rgba(0, 0, 0, 0.5);
  width: 90%;
  border-radius: 3px;
  height: 50px;
}

body .todo-form.edit {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .todo-input {
  padding: 14px 32px 14px 16px;
  border: none;
  border-radius: 3px 0 0 3px;
  outline: none;
  background-color: #25273c;
  color: #e4e5f1;
  width: 85%;
  height: inherit;
  font-size: 14px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  /* &.edit {
        
      } */
}

body .todo-input::-webkit-input-placeholder {
  color: #e4e5f1;
  opacity: 0.4;
}

body .todo-input:-ms-input-placeholder {
  color: #e4e5f1;
  opacity: 0.4;
}

body .todo-input::-ms-input-placeholder {
  color: #e4e5f1;
  opacity: 0.4;
}

body .todo-input::placeholder {
  color: #e4e5f1;
  opacity: 0.4;
}

body .todo-btn {
  padding: 14px;
  border: none;
  border-left: 2px solid #393a4c;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  outline: none;
  width: 15%;
  height: inherit;
  background-color: #25273c;
  color: #e4e5f1;
  text-transform: uppercase;
  /* &.edit {
        
      } */
}

body .todo-btn:hover {
  background-color: #393a4c;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

body .todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

body .todo-list {
  margin: auto;
  width: 90%;
  -webkit-box-shadow: 0px 15px 15px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 15px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

body .todo-list.edit {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .todo-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  color: #e4e5f1;
  padding: 14px 16px;
  border-bottom: 1.5px solid #393a4c;
  width: 100%;
  background-color: #25273c;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  min-height: 50px;
  font-size: 14px;
}

body .todo-row.complete {
  text-decoration: line-through;
  opacity: 0.4;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

body .todo-row:first-child {
  border-radius: 3px 3px 0 0;
}

body .todo-row:last-child {
  border-radius: 0 0 3px 3px;
  border: none;
}
/*# sourceMappingURL=App.css.map */